html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #eeeeee;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#timer-1 {
  display: flex;
  text-align: center;
  perspective: 400px;
  margin: 20px auto;
}

.field {
  display: flex;
  flex-direction: column;
  margin: 0 5px;
}

.value {
  height: 200px;
  width: 200px;
  overflow: hidden;
}

.label {
  font-size: 50px;
}

.valueNew,
.valueOld {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  font-size: 150px;
  background-color: black;
  color: #a8a8a8;
  transform: translateY(-200px);
}

.value.anim .valueNew,
.value.anim .valueOld {
  transform: translateY(0px);
  transition: transform 0.7s ease-in-out;
}
